<launch>

	<!--'192.168.1.176' medium-size green tank (#0)
		'192.168.1.243' Blue Tank (#8)
		'192.168.1.209' Blue Tank (#10)
		'192.168.1.218' Blue Tank (#3)
	-->

	<node pkg="joy" type="joy_node" name="joystick_node" output="screen">
		<param name="/coalesce_interval" value="0.1" type="double"/>
		<remap from="joy" to="joy_1"/>
	</node>

	<node pkg="teleop_twist_joy" type="teleop_node" name="joystick_to_twist" output="screen">
		<remap from="joy" to="joy_1"/>
	</node>

	<node pkg="motor_translation" type="differential_node" name="diff_drive_node" output="screen">
		<param name="/driver_name" value="/cmd_vel" type="str" />
	</node>

	<node pkg="motor_limit" type="motor_limit.py" name="motor_control_node" output="screen">
		<param name="robot_addr" value="192.168.1.218" type="str" />
		<remap from="/default_driver/drive_cmd" to="/diff_drive_node/drive_cmd"/>
	</node>


	<!-- second joystick -->

	<node pkg="joy" type="joy_node" name="joystick_node_2" output="screen">
		<param name="/coalesce_interval" value="0.1" type="double"/>
		<param name="/dev" value="/dev/input/js1"/>
		<remap from="joy" to="joy_2"/>
	</node>

	<node pkg="teleop_twist_joy" type="teleop_node" name="joystick_to_twist_2" output="screen">
		<remap from="joy" to="joy_2"/>
		<remap from="cmd_vel" to="cmd_vel_2"/>
	</node>

	<node pkg="motor_translation" type="differential_node" name="diff_drive_node_2" output="screen">
		<param name="/driver_name" value="/cmd_vel_2" type="str" />
	</node>

	<node pkg="motor_limit" type="motor_limit.py" name="motor_control_node_2" output="screen">
		<param name="robot_addr" value="192.168.1.243" type="str" />
		<remap from="/default_driver/drive_cmd" to="/diff_drive_node_2/drive_cmd"/>
	</node>

	<!-- third joystick -->

	<node pkg="joy" type="joy_node" name="joystick_node_3" output="screen">
		<param name="/coalesce_interval" value="0.1" type="double"/>
		<param name="/dev" value="/dev/input/js2"/>
		<remap from="joy" to="joy_3"/>
	</node>

	<node pkg="teleop_twist_joy" type="teleop_node" name="joystick_to_twist_3" output="screen">
		<remap from="joy" to="joy_3"/>
		<remap from="cmd_vel" to="cmd_vel_3"/>
	</node>

	<node pkg="motor_translation" type="differential_node" name="diff_drive_node_3" output="screen">
		<param name="/driver_name" value="/cmd_vel_3" type="str" />
	</node>

	<node pkg="motor_limit" type="motor_limit.py" name="motor_control_node_3" output="screen">
		<param name="robot_addr" value="192.168.1.180" type="str" />
		<remap from="/default_driver/drive_cmd" to="/diff_drive_node_3/drive_cmd"/>
	</node>	

  <!-- fun visuals -->
  <arg name="cam_name" value="overhead_cam" />
  <arg name="GST10" value="true" />

  <!-- Start the GSCAM node -->
  <!-- Note that some settings of videocrop will cause a double-free error -->
  <!-- ! videocrop top=200 left=10 right=30 bottom=20 -->
  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! ffmpegcolorspace " />
  <node pkg="gscam" type="gscam" name="$(arg cam_name)">
          <param name="camera_name" value="$(arg cam_name)" />
          <param name="camera_info_url" value="file:///$(find camera_cal)/usb_cam_1024x768.yml" />
          <remap from="camera/image_raw" to="$(arg cam_name)/image_raw" />
  </node>

   <!-- Video un-distorting -->
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg cam_name)"/>

   <!-- Fiducial tags -->
   <include file="$(find tiny_robo_launch)/launch/april_tags.launch" />
</launch>
