<launch>
   <!-- launch video stream -->
   <include file="$(find tiny_robo_launch)/launch/camera.launch" >
   		<!-- throttling the querying of frames to -->
	  	<arg name="fps" value="60" />
	  	<!-- setting frame_id -->
	  	<arg name="frame_id" value="rtsp_frame" />
	  	<!-- flip the image horizontally (mirror it) -->
	  	<arg name="flip_horizontal" value="false" />
	  	<!-- flip the image vertically -->
	  	<arg name="flip_vertical" value="false" />
	  	<!-- visualize on an image_view window the stream generated -->
	  	<arg name="visualize" value="true" />
   </include>

   <!-- Video un-distorting -->
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="overhead_camera"/>

   <!-- April tags -->
   <include file="$(find tiny_robo_launch)/launch/april_tags.launch" />

   <!-- Fake laser readings --> 
   <node pkg="laser_oracle" type="laser_oracle_server.py" name="fake_laser_service" output="screen"/>

   <!-- client for the laser ranges -->
   <node pkg="laser_oracle" type="laser_client.py" name="laser_client" output="screen">
   	<param name="robot_id" value="23" type="int"/>
   	<param name="rangeMax" value="2"/>
   	<param name="angleMin" value="-2"/>
   	<param name="angleMax" value="1"/>
   	<param name="angleIncrement" value="0.0872"/>
   </node>

	<!-- static transform from world_base to the camera. world_base is the lower left of the table. -->
	<node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="1.220 0.637 1.4 0 1 0 0 world_base rtsp_frame 50" />

</launch>