
<launch>
	<!-- Launch Argos simulator and GCPR runners for Argos robots-->
	<node name="argos_ros_launcher" pkg="user_interface" type="ui_sim_launch.sh"/>
	
	<!-- Simulated camera watching the Argos simulated world -->
	<node name="sim_cam" pkg="user_interface" type="synthetic_world_cam.py" output="screen">
		<param name="camera_info_url" value="$(find camera_cal)/usb_cam_1024x768.yml" />
	</node>

	<!-- Fiducial tags -->
	<include file="$(find tiny_robo_launch)/launch/sim_april_tags.launch" />

	<!-- Distance oracle -->
	<node pkg="distance_oracle" type="distance_oracle_server.py" name="fake_range_service" output="screen"/>

	<!-- Bearing oracle -->
	<node pkg="bearing_oracle" type="bearing_oracle_server.py" name="fake_bearing_service" output="screen"/>

	<!-- pub sub test -->
	<!-- node pkg="compiler" type="listener_test.py" name="listener" output="screen"/ -->
	<!-- node pkg="compiler" type="talker_test.py" name="talker" output="screen"/ -->
</launch>