<launch>


   <!-- Video un-distorting
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg cam_name)"/>
-->
   <!-- Fiducial tags
   <include file="$(find tiny_robo_launch)/launch/april_tags.launch" />
-->
   <!-- Fake laser readings -->
   <node pkg="laser_oracle" type="laser_oracle_server.py" name="fake_laser_service" output="screen"/>

   <!-- client for the laser ranges -->
   <node pkg="laser_oracle" type="laser_client.py" name="laser_client_6" output="screen">
   	<param name="robot_id" value="5" type="int"/>
   	<param name="angleMin" type="double" value="-3.14"/>
   	<param name="angleMax" type="double" value="3.14"/>
   	<param name="angleIncrement" type="double" value="0.0175"/>
   	<param name="rangeMin" type="double" value="0.03"/>
   	<param name="rangeMax" type="double" value="1.0"/>
   </node>

   <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="1.220 0.637 1.4 0 1 0 0 world_base camera_frame 50" />

</launch>
