<launch>

   <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="800" />
      <param name="image_height" value="600" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="camera_name" value="narrow_stereo" />
      <param name="camera_info_url" value="file:///$(find camera_cal)/usb_cam_800x600.yml"/> 
      <param name="io_method" value="mmap"/>
   </node>

   <!-- Video un-distorting -->
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>

   <!-- April tags -->
   <include file="$(find tiny_robo_launch)/launch/april_tags.launch" />

   <!-- Fake laser readings --> 
   <node pkg="laser_oracle" type="laser_oracle_server.py" name="fake_laser_service" output="screen"/>

   <!-- Distance oracle -->
   <node pkg="distance_oracle" type="distance_oracle_server.py" name="fake_range_service" output="screen"/>

   <!-- Network service -->
   <node pkg="network_service" type="network_server.py" name="fake_net_service" output="screen">
      <param name="txRange" value="2" type="double"/>
   </node>

   <!-- client for the laser ranges -->
   <node pkg="laser_oracle" type="laser_client.py" name="laser_client" output="screen">
   	<param name="robot_id" value="9" type="int"/>
   </node>
   
   <!-- client for the laser ranges -->
   <node pkg="laser_oracle" type="laser_client.py" name="laser_client_2" output="screen">
   	<param name="robot_id" value="2" type="int"/>
   </node>
   
   <!-- client for the laser ranges -->
   <node pkg="laser_oracle" type="laser_client.py" name="laser_client_6" output="screen">
   	<param name="robot_id" value="6" type="int"/>
   	<param name="angleMin" type="double" value="-1.745"/>
	<param name="angleMax" type="double" value="1.745"/>
	<param name="angleIncrement" type="double" value="0.1745"/>
	<param name="rangeMin" type="double" value="0.1"/>
	<param name="rangeMax" type="double" value="0.8"/>
   </node>
</launch>